/* rinella css for card component */

.card {
    width: 100%;
    max-width: 800px;
    background: #111d4a;
    color: #fff;
    display: flex;
    flex-direction: column;
}

.card-img {
    object-fit: cover;
    flex-basis: 200px;
    min-width: 0; /* setting max-width fixes Chrome bug for using flex basis on img */
    min-height: 0;  /* setting max-height fixes Chrome bug for using flex basis on img */
}

.card-content {
    padding: 1em;
}

/* ============
typography
============ */

/* fonts
font-family: 'Blinker', sans-serif;
font-family: 'Source Sans Pro', sans-serif;
*/

.card-title, 
.card-read-time, 
.card-btn {
    font-family: 'Blinker', sans-serif;
}

.card-title {
    color: #05cbe9;
    font-size: 1.75rem;   /* 28px / 16px */
    margin: 0;
}

.card-body {
    font-size: 1rem; /* 16px */
    font-family: 'Source Sans Pro', sans-serif;
    line-height: 1.6;
}

.card-footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 3em;
}

.card-btn {
    font-size: 1.25rem; /* 20px / 16px */
    background: #05cbe9;
    color: #111d4a;
    text-decoration: none;
    font-weight: 700;
    padding: .35em 1.25em;
    letter-spacing: 1px;
}

.card-btn:hover,
.card-btn:focus {
    background: fuchsia;
    color: #fff;

}

.card-read-time {
    margin: 0;
    opacity: .6;
    line-height: 1;
}

.card-read-time span {
    font-size: 1.25em; 
    font-weight: 700;
    display: block; /* creates a line break */
}

/* ============
media query
============ */

@media (min-width: 600px){

    .card {
    flex-direction: row;
    }

    .card-img {
        height: 300px;
    }

    .card-content{
        display: flex;
        flex-direction: column;
    }

    .card-title {
        font-size: 2.25rem;
    }

    .card-body {
        font-size: 1.125rem;
        max-width: 500px;
    }

    .card-footer {
        margin-top: auto; /* moves card-footer to bottom on larger screens with flex display */ 
    }
}
